<li class="list-group-item">
  <h3 class="h5">
    ✋<%= link_to play.user.year_and_name, livelog_member_url(play.user), class: 'text-dark' %>
    <span class="badge badge-secondary"><%= play.instrument %></span>
  </h3>
  <%= simple_format play.comment, class: 'text-muted mb-2' %>
  <div class="d-flex justify-content-between">
    <small class="text-muted"><%= l play.created_at, format: :short %></small>
    <% if play.owner?(current_user) %>
      <ul class="list-inline">
        <li class="list-inline-item"><small><%= link_to '編集', edit_song_play_path(play.song, play) %></small></li>
        <li class="list-inline-item"><small><%= link_to '削除', song_play_path(play.song, play), method: :delete, data: { confirm: '本当に削除しますか？' } %></small></li>
      </ul>
    <% end %>
  </div>
</li>
