<% provide :title, @song.title %>

<section class="card mb-3">
  <div class="card-body">
    <h1 class="card-title h3"><%= @song.title %></h1>
    <p class="card-text">
      <% if @song.closed? %>
        <span class="badge badge-secondary">募集終了</span>
      <% else %>
        <span class="badge badge-primary">募集中</span>
      <% end %>
    </p>
    <dl>
      <dt><%= Song.human_attribute_name(:user) %></dt>
      <dd><%= link_to @song.user.year_and_name, livelog_member_url(@song.user) %></dd>
      <dt><%= Song.human_attribute_name(:url) %></dt>
      <dd><%= link_to link_to @song.url, @song.url, target: '_blank' %></dd>
      <dt><%= Song.human_attribute_name(:notes) %></dt>
      <dd><%= simple_format @song.notes %></dd>
      <dt><%= Song.human_attribute_name(:created_at) %></dt>
      <dd><%= l @song.created_at %></dd>
      <dt><%= Song.human_attribute_name(:updated_at) %></dt>
      <dd><%= l @song.updated_at %></dd>
    </dl>
    <% if @song.owner?(current_user) %>
      <%= link_to '編集する', edit_song_path(@song), class: 'card-link btn btn-primary' %>
      <%= link_to '削除する', song_path(@song), method: :delete, class: 'card-link btn btn-danger', data: { confirm: '本当に削除しますか？' } %>
    <% end %>
  </div>
</section>

<% if !@song.closed? && !@song.player?(current_user) %>
  <div class="text-center mb-3">
    <%= link_to '参加する', new_song_play_path(@song), class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>

<% unless @song.plays.empty? %>
  <section class="mb-3">
    <ul class="list-group">
      <%= render @song.plays %>
    </ul>
  </section>
<% end %>
