<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for(:title).presence || t('app.title') %></title>
    <meta name="robots" content="noindex">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
      <div class="container">
        <%= link_to t('app.title'), root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to 'ユーザー', users_path, class: 'nav-link' %>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="nav-item">
              <% if current_user %>
                <%= link_to current_user.name, livelog_member_url(current_user), class: 'nav-link' %>
              <% else %>
                <%= link_to 'ログイン', login_path, class: 'nav-link' %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <% if flash.notice %>
        <aside class="alert alert-primary" role="alert">
          <%= flash.notice %>
        </aside>
      <% end %>
      <% if flash.alert %>
        <aside class="alert alert-danger" role="alert">
          <%= flash.alert %>
        </aside>
      <% end %>

      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
