<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title).presence || 'バンドメンバー募集' %></title>
    <meta name="robots" content="noindex">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-light bg-light mb-3">
      <div class="container">
        <%= link_to 'バンドメンバー募集', root_path, class: 'navbar-brand' %>
      </div>
    </nav>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
